div {
    background-color: aquamarine;
    width: 400px;
    padding: 40px;
    border: 3px solid gray;
    margin: 400px 100px;
    display: inline-block;
}

.btn-block {
    display: block;
    margin: 10px 0;
}